*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;

}


nav {
    background: none;
    height: 80px;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav img {
    width: 60px; 
    height: 60px;
    margin: 10px;
}

nav img:hover {
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #303030;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: none;
    text-decoration: none;
}

a.active, a:hover {
    background: none;
    text-decoration: underline;
    transition: .5s;
    color: black;
}

.checkbtn {
    font-size: 30px;
    color: #303030;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.parallax {
    background: url('../images/top-snow-bg.png') no-repeat center fixed;
    height: 800px;
    background-size: cover;
}

.mainVisualSection h1{
    font-size: 80px;
    color: #303030;
}

.mainVisualSection {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 100px;
    margin: auto;
    align-items:center;
    justify-content:center;
}

.mainVisualSubHeading__text {
    color: #648D93;
    text-align: center;
    margin-top: 22px;
    font-size: 32px;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        text-decoration: underline;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .mainVisualSection h1{
        font-size: 32px;
        color: #303030;
    }

    .mainVisualSubHeading__text {
        color: #648D93;
        text-align: center;
        margin-top: 22px;
        font-size: 18px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        text-decoration: underline;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .mainVisualSection h1{
        font-size: 32px;
        color: #303030;
    }

    .mainVisualSubHeading__text {
        color: #648D93;
        text-align: center;
        margin-top: 22px;
        font-size: 18px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    label img {
        width: 50px; 
        height: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .mainVisualSection h1{
        font-size: 32px;
        color: #303030;
    }

    .mainVisualSubHeading__text {
        color: #648D93;
        text-align: center;
        margin-top: 22px;
        font-size: 18px;
    }
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}


/* @media (max-width: 952px) {
    label img {
        width: 50px; 
        height: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
} */

/* @media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        text-decoration: underline;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }
} */