*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;

}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #E85A4F;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
  }
  
  #myBtn:hover {
    background-color: #e98074;
  }

/* 
body {
    font-family: 'Lora', serif;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
   } */

.logo {
    font-family: 'Pacifico', cursive;
    color: #648D93;
}

.logo:hover {
    color: #4f6d75;
    font-family: 'Pacifico', cursive;
}


/* nav {
    background: none;
    height: 80px;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    transition: top 0.3s;
    display: block;

} */

.footer_credits a {
    float: center;
    text-align: center;
    visibility: visible;
}

.footer_credits  a{
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 5px;
    padding: 7px 10px;
}

.footer_credits a:hover{
    color: white;
}


/* nav img {
    width: 60px; 
    height: 60px;
    margin: 10px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #648D93;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: none;
    text-decoration: none;
}

nav a.active, nav a:hover {
    background: none;
    text-decoration: underline;
    transition: .5s;
    color: #4f6d75;
} */

.checkbtn {
    font-size: 30px;
    color: #303030;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.hero {
    background-color: #EAE7DC;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-text h1{
    color: #E85A4F;
    font-family: 'Sacramento', cursive;
    font-size: 5em !important;
  }
  
  .hero-text button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 15px 40px;
    color: white;
    background-color: #E85A4F;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 22px;
    font-size: 18px;
  }
  
  .hero-text button:hover {
    background-color: #e98074;
    color: white;
  }


.mainVisualHeading__text {
    text-align: center;
    font-size: 6em;
    color: #E85A4F;
}

/* .mainVisualSection h1{
    font-size: 80px;
    color: #303030;
} */


.mainVisualSection {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 100px;
    margin: auto;
    align-items:center;
    justify-content:center;

}

.mainVisualSubHeading__text {
    color: #648D93;
    text-align: center;
    margin-top: 22px;
    font-size: 32px;
}


.aboutSection {
    display: grid;
    padding: 80px 200px;
    margin: auto;
    align-items:center;
    justify-content:center;
}


.section__heading {
    margin: auto;
    padding: auto;
    text-align: center;
}

/* .section__heading h1{
    font-size: 26px;
    color: #303030;
    font-family: 'Roboto Slab', serif;
} */


.aboutSection__image {
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 50px 0px 0px 0px;
    margin: auto;
}

.aboutSection__content {
    text-align: center;
    padding: 50px 0px;    
    margin: auto;
    font-size: 18px;
}

/* .aboutSection__content p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #330033;
    font-weight: lighter;
} */

.aboutSection__content a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.aboutSection__content a:hover {
    text-decoration: underline;
    color: black;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding: 0px 0px 50px 0px;
    align-items:center;
    justify-content:center;
}


#services {
    padding: 80px 200px;
    /* background-color: #F8F8F8; */
    background-color: #EAE7DC;
}

.grid__image {
    grid-row: 1 / 2;
    text-align: center;
}

/* .grid__text {
    grid-row: 2 / 2;
    display: flex;
    width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;
    align-items:center;
    justify-content:center;
    font-family: 'Roboto', sans-serif;
} */

.grid__text p {
    font-size: 18px;
}

.grid__text span {
    font-size: 18px;
    font-weight: bolder;
}

.skillsSection__list {
    width: auto;
    height: auto;
    vertical-align: middle;
}

.skillsSection__list:after {
    content: "";
    display: table;
    clear: both;
}

.grid__image {
    width: 50%;
}

.grid__text {
    height: 200px;
    width: 50%;
    padding: 10px;
    font-weight: lighter;
}

#my-works {
    padding: 80px 100px;
}

.grid__container {
    transition: 0.3s;
    width: 33.33%;
    padding: 10px;
    float: left;
}

.grid__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid__card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
    padding: 30px 40px 10px 40px;
    margin: 10px;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */

}


.grid__card h4 {
    padding-bottom: 20px;
    font-weight: bolder;
    color: black;
}

.grid__card p{
    padding-bottom: 20px;
    text-align: left;
    font-weight: lighter;
    color: #303030;
}

.grid__card a{
    text-align: left;
    color: #303030;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
}

.grid__card a:hover{
    color: black;
    text-decoration: none;
    border-bottom: 0.6px solid black;

}

.grid__card span {
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
}

.empty__grid {
    width: 40%;
    padding: 10px;
    float: left;
    text-align: left;
}

.empty__grid .contact-details{
    padding-top: 22px;
    text-align: left;
}

.empty__grid .contact-details a{
    text-decoration: none;
    color: #303030;
}

.empty__grid .contact-details a:hover{
    color: black;
}

.empty__grid img{
    width: 300px;
    height: auto;
    align-self: left;
    text-align: left;
    padding: 10px;
}

.grid__form {
    width: 60%;
    padding: 10px;
    float: left;
    text-align: left;
}

/* .grid__form h2{
    font-family: 'Roboto Slab', serif;
    color: #303030;
} */

.grid__form p{
    /* font-family: 'Roboto', sans-serif; */
    color: #303030;
    padding-top: 12px;
    font-size: 16px;
    font-weight: lighter;
}

#contact {
    padding: 80px 180px;
    background-color: #EAE7DC;
}

.contact-form {
    margin-top: 22px;
}
.contact-form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
  }

  .contact-form input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;

  }

  .contact-form #message_box {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;

  }


  .contact-form button{
    width: auto;
    background-color: #E85A4F;
    color: white;
    padding: 15px 40px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
  }

  .contact-form button:hover{
    background-color: #e98074;
  }

  #contact-details {
      text-align: center;
      padding: 80px 100px;
  }

  .grid_social__container {
    transition: 0.3s;
    width: 20%;
    padding: 10px;
    float: left;
  }

  .grid__social {
    /* background-color: #90CAF9; */
    background-color: #EAE7DC;
    border-style: dashed;
    border-radius: 2px;
    padding: 20px 40px;
    margin: 0px;
    text-align: center;
  }

  .grid__social a {
    font-size: 16px;
    text-decoration: none;
    color: #303030;
    /* font-family: 'Roboto', sans-serif; */
  }

  .grid__social a:hover {
    font-size: 16px;
    text-decoration: underline;
    color: black;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
    
  }

  footer {
      height: auto;
      background-color: #2d3436;
      padding: 60px 100px;
      text-align: center;
  }

a.active, a:hover {
    text-decoration: underline;
    transition: .5s;
    color: white;
}

.footer_credits {
    width: auto;
    height: auto;
    vertical-align: middle;
}

.footer_credits p{
    color: rgba(255, 255, 255, 0.5);
}

.footer_credits p a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer_credits p a:hover{
    color: white;
}

/* .footer_credits .footer_grid a p{
    color: white;
    text-decoration: none;
} */


.footer_grid {
    transition: 0.3s;
    width: 50%;
    float: left;
  }

  .skillsSection__list .footer_grid p {
    color: rgba(255, 255, 255, 0.5);
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
  }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* .footer_credits ul {
        float: center;
        text-align: center;
    } */

    .empty__grid .contact-details{
        padding-top: 22px;
        text-align: center;
    }
    
    .footer_credits ul a{
        list-style-type : none;
        color: rgba(255, 255, 255, 0.5);
        display: inline;
        margin: 0 5px;
        padding: 7px 13px;
    }
    
    .footer_credits ul a:hover{
        color: white;
    }

    
    /* nav {
        margin: 0px;
        padding: 0px 40px;
    } */

    .checkbtn {
        display: block;
        padding: 0px;
        margin: 0px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    /* nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    } */

    a:hover, a.active {
        background: none;
        text-decoration: underline;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }


    .hero {
        background-color: #EAE7DC;
        height: 100vh;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 0px;
        margin: 0px;
      }
    
      .hero-text {
        width: 100%;
        padding: 0px 30px;
        margin: 0px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .hero-text h1{
        color: #E85A4F;
        font-family: 'Sacramento', cursive;
        font-size: 3em !important;
      }

      .hero-text p{
        color: #303030;
        font-size: 1em !important;
      }
      
      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 15px 40px;
        color: white;
        background-color: #E85A4F;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        margin-top: 22px;
        font-size: 18px;
      }
      
      .hero-text button:hover {
        background-color: #e98074;
        color: white;
      }

    #home .mainVisualSection h2{
        font-size: 32px;
        color: #303030;
    }

    .mainVisualHeading__text {
        text-align: center;
        font-size: 32px;
    }

    .mainVisualSubHeading__text {
        /* color: #648D93; */
        text-align: center;
        margin-top: 22px;
        font-size: 10px;
    }

    .mainVisual__text {
        text-align: center;
    }

    /* start */

    #reverse__col {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        padding: 0px;
        margin: 0px;
    }

    #reverse__col .grid__image{
        float: left;
        width: 100%;
    }

    #reverse__col .grid__text{
        float: left;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    /* end */

    .grid__image {
        float: left;
        width: 100%;
        padding-top: 30px;
    }
    
    .grid__text {
        float: left;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;

    }

    .grid__text p {
        font-size: 16px;
    }
    
    .grid__text span {
        font-size: 16px;
        font-weight: bold;
    }


    .grid__container {
        transition: 0.3s;
        width: 100%;
        padding: 10px;
        float: left;
    }

    .aboutSection {
        display: grid;
        padding: 50px 20px;
        margin: auto;
        align-items:center;
        justify-content:center;
    }

    .aboutSection__content {
        text-align: left;
        margin: 0px;
        padding: 0px;
    }
    
    .aboutSection__content p{
        font-size: 16px;
        /* font-family: 'Roboto', sans-serif; */
        color: #330033;
        font-weight: lighter;
        margin: 0px;
        padding-top: 20px;
    }

    #services {
        padding: 50px 20px;
        background-color: #EAE7DC;
    }

    #my-works {
        padding: 50px 20px;
    }

    #contact {
        padding: 50px 20px;
        background-color: #EAE7DC;
    }

    .contact-form input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }
    
      .contact-form input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }
    
      .contact-form #message_box {
        width: 100%;
        height: 100px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }

    
      .contact-form button {
        width: 100%;
        background-color: #E85A4F;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
      }

      .contact-form button:hover{
        background-color: #e98074;
      }

      .empty__grid {
        width: 100%;
        padding: 10px;
        float: left;
        text-align: center;
    }


    .empty__grid img{
        width: 250px; 
        height: auto;
    }
    
    .grid__form {
        width: 100%;
        padding: 10px;
        float: left;
        text-align: left;
    }

    /* .grid__form p{
        width: 100%;
        padding: 10px;
        float: left;
        text-align: center;
    } */

    .contact-details {
        text-align: left;
    }

    .grid_social__container {
        transition: 0.3s;
        width: 100%;
        padding: 10px;
        float: left;
      }

      #grid__none {
          display: none;
      }

      footer {
        height: auto;
        background-color: #2d3436;
        padding: 50px 30px;
        text-align: center;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* nav {
        margin: 0px;
        padding: 0px 40px;
    } */

    .empty__grid .contact-details{
        padding-top: 22px;
        text-align: center;
    }

    .checkbtn {
        display: block;
        padding: 0px;
        margin: 0px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
/* 
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    } */

    a:hover, a.active {
        background: none;
        text-decoration: underline;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }


    .hero {
        background-color: #EAE7DC;
        height: 100vh;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 0px;
        margin: 0px;
      }
    
      .hero-text {
        width: 100%;
        padding: 0px 30px;
        margin: 0px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .hero-text h1{
        color: #E85A4F;
        font-family: 'Sacramento', cursive;
        font-size: 3em !important;
      }

      .hero-text p{
        color: #303030;
        font-size: 1em !important;
      }
      
      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 15px 40px;
        color: white;
        background-color: #E85A4F;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        margin-top: 22px;
        font-size: 18px;
      }
      
      .hero-text button:hover {
        background-color: #e98074;
        color: white;
      }

    #home .mainVisualSection h2{
        font-size: 32px;
        color: #303030;
    }

    .mainVisualHeading__text {
        text-align: center;
        font-size: 32px;
    }

    .mainVisualSubHeading__text {
        /* color: #648D93; */
        text-align: center;
        margin-top: 22px;
        font-size: 10px;
    }

    .mainVisual__text {
        text-align: center;
    }

    /* start */

    #reverse__col {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        padding: 0px;
        margin: 0px;
    }

    #reverse__col .grid__image{
        float: left;
        width: 100%;
    }

    #reverse__col .grid__text{
        float: left;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    /* end */

    .grid__image {
        float: left;
        width: 100%;
        padding-top: 30px;
    }
    
    .grid__text {
        float: left;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;

    }

    .grid__text p {
        font-size: 16px;
    }
    
    .grid__text span {
        font-size: 16px;
        font-weight: bold;
    }


    .grid__container {
        transition: 0.3s;
        width: 100%;
        padding: 10px;
        float: left;
    }

    .aboutSection {
        display: grid;
        padding: 50px 20px;
        margin: auto;
        align-items:center;
        justify-content:center;
    }

    .aboutSection__content {
        text-align: left;
        margin: 0px;
        padding: 0px;
    }
    
    .aboutSection__content p{
        font-size: 16px;
        /* font-family: 'Roboto', sans-serif; */
        color: #330033;
        font-weight: lighter;
        margin: 0px;
        padding-top: 20px;
    }

    #services {
        padding: 50px 20px;
        background-color: #EAE7DC;
    }

    #my-works {
        padding: 50px 20px;
    }

    #contact {
        padding: 50px 20px;
        background-color: #EAE7DC;
    }

    .contact-form input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }
    
      .contact-form input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }
    
      .contact-form #message_box {
        width: 100%;
        height: 100px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }

    
      .contact-form button {
        width: 100%;
        background-color: #E85A4F;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
      }

      .contact-form button:hover{
        background-color: #e98074;
      }

      .empty__grid {
        width: 100%;
        padding: 10px;
        float: left;
        text-align: center;
    }

    .empty__grid img{
        width: 250px; height: auto;
    }
    
    .grid__form {
        width: 100%;
        padding: 10px;
        float: left;
        text-align: left;
    }

    /* .grid__form p{
        width: 100%;
        padding: 10px;
        float: left;
        text-align: center;
    } */

    #contact-details {
        text-align: center;
        padding: 50px 20px;
    }

    .grid_social__container {
        transition: 0.3s;
        width: 100%;
        padding: 10px;
        float: left;
      }

      #grid__none {
          display: none;
      }

      footer {
        height: auto;
        background-color: #2d3436;
        padding: 50px 30px;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* nav {
        margin: 0px;
        padding: 0px 40px;
    } */

    .checkbtn {
        display: block;
        padding: 0px;
        margin: 0px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    /* nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    } */

    a:hover, a.active {
        background: none;
        text-decoration: underline;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }


    .hero {
        background-color: #EAE7DC;
        height: 100vh;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 0px;
        margin: 0px;
      }
    
      .hero-text {
        width: 100%;
        padding: 0px 30px;
        margin: 0px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .hero-text h1{
        color: #E85A4F;
        font-family: 'Sacramento', cursive;
        font-size: 3em !important;
      }

      .hero-text p{
        color: #303030;
        font-size: 1em !important;
      }
      
      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 15px 40px;
        color: white;
        background-color: #E85A4F;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        margin-top: 22px;
        font-size: 18px;
      }
      
      .hero-text button:hover {
        background-color: #e98074;
        color: white;
      }

    #home .mainVisualSection h2{
        font-size: 32px;
        color: #303030;
    }

    .mainVisualHeading__text {
        text-align: center;
        font-size: 32px;
    }

    .mainVisualSubHeading__text {
        /* color: #648D93; */
        text-align: center;
        margin-top: 22px;
        font-size: 10px;
    }

    .mainVisual__text {
        text-align: center;
    }

    /* start */

    #reverse__col {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        padding: 0px;
        margin: 0px;
    }

    #reverse__col .grid__image{
        float: left;
        width: 100%;
    }

    #reverse__col .grid__text{
        float: left;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    /* end */

    .grid__image {
        float: left;
        width: 50%;
        padding-top: 30px;
    }
    
    .grid__text {
        float: left;
        height: auto;
        width: 50%;
        padding: 0px;
        margin: 0px;

    }

    .grid__text p {
        font-size: 16px;
    }
    
    .grid__text span {
        font-size: 16px;
        font-weight: bold;
    }


    .grid__container {
        transition: 0.3s;
        width: 100%;
        padding: 10px;
        float: left;
    }

    .aboutSection {
        display: grid;
        padding: 0px;
        margin: auto;
        align-items:center;
        justify-content:center;
    }

    .aboutSection__content {
        text-align: left;
        margin: 0px;
        padding: 0px;
    }
    
    .aboutSection__content p{
        font-size: 16px;
        /* font-family: 'Roboto', sans-serif; */
        color: #330033;
        font-weight: lighter;
        margin: 0px;
        padding-top: 20px;
    }

    #about {
        padding: 50px;
    }

    #services {
        padding: 50px;
    }

    #my-works {
        padding: 50px;
    }

    #contact {
        padding: 50px;
    }

    .contact-form input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }
    
      .contact-form input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }
    
      .contact-form #message_box {
        width: 100%;
        height: 100px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }

    
      .contact-form button {
        width: 100%;
        background-color: #E85A4F;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
      }

      .contact-form button:hover{
        background-color: #e98074;
      }

      .empty__grid {
        width: 100%;
        padding: 10px;
        float: left;
        text-align: center;
    }

    .empty__grid img{
        width: 250px; height: auto;
    }
    
    .grid__form {
        width: 100%;
        padding: 10px;
        float: left;
        text-align: left;
    }

    #contact-details {
        text-align: center;
        padding: 50px 20px;
    }

    .grid_social__container {
        transition: 0.3s;
        width: 33.3%;
        padding: 10px;
        float: left;
      }

      #grid__none {
          display: none;
      }

      footer {
        height: auto;
        background-color: #2d3436;
        padding: 50px 30px;
        text-align: center;
    }
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* nav {
        margin: 0px;
        padding: 0px 40px;
    } */

    .checkbtn {
        display: block;
        padding: 0px;
        margin: 0px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    /* nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    } */

    a:hover, a.active {
        background: none;
        text-decoration: underline;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }


    .hero {
        background-color: #EAE7DC;
        height: 100vh;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 0px;
        margin: 0px;
      }
    
      .hero-text {
        width: 100%;
        padding: 0px 30px;
        margin: 0px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .hero-text h1{
        color: #E85A4F;
        font-family: 'Sacramento', cursive;
        font-size: 3em !important;
      }

      .hero-text p{
        color: #303030;
        font-size: 1em !important;
      }
      
      .hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 15px 40px;
        color: white;
        background-color: #E85A4F;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        margin-top: 22px;
        font-size: 18px;
      }
      
      .hero-text button:hover {
        background-color: #e98074;
        color: white;
      }

    #home .mainVisualSection h2{
        font-size: 32px;
        color: #303030;
    }

    .mainVisualHeading__text {
        text-align: center;
        font-size: 32px;
    }

    .mainVisualSubHeading__text {
        /* color: #648D93; */
        text-align: center;
        margin-top: 22px;
        font-size: 10px;
    }

    .mainVisual__text {
        text-align: center;
    }

    /* start */

    #reverse__col {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        padding: 0px;
        margin: 0px;
    }

    #reverse__col .grid__image{
        float: left;
        width: 100%;
    }

    #reverse__col .grid__text{
        float: left;
        height: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    /* end */

    .grid__image {
        float: left;
        width: 50%;
        padding-top: 30px;
    }
    
    .grid__text {
        float: left;
        height: auto;
        width: 50%;
        padding: 0px;
        margin: 0px;

    }

    .grid__text p {
        font-size: 16px;
    }
    
    .grid__text span {
        font-size: 16px;
        font-weight: bold;
    }


    .grid__container {
        transition: 0.3s;
        width: 100%;
        padding: 10px;
        float: left;
    }

    .aboutSection {
        display: grid;
        padding: 0px;
        margin: auto;
        align-items:center;
        justify-content:center;
    }

    .aboutSection__content {
        text-align: left;
        margin: 0px;
        padding: 0px;
    }
    
    .aboutSection__content p{
        font-size: 16px;
        /* font-family: 'Roboto', sans-serif; */
        color: #330033;
        font-weight: lighter;
        margin: 0px;
        padding-top: 20px;
    }

    #about {
        padding: 50px;
    }

    #services {
        padding: 50px;
    }

    #my-works {
        padding: 50px;
    }

    #contact {
        padding: 50px;
    }

    .contact-form input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }
    
      .contact-form input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }
    
      .contact-form #message_box {
        width: 100%;
        height: 100px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
    
      }

    
      .contact-form button {
        width: 100%;
        background-color: #E85A4F;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* font-family: 'Roboto', sans-serif; */
        font-size: 16px;
      }

      .contact-form button:hover{
        background-color: #e98074;
      }

      .empty__grid {
        width: 100%;
        padding: 10px;
        float: left;
        text-align: center;
    }

    .empty__grid img{
        width: 250px; height: auto;
    }
    
    .grid__form {
        width: 100%;
        padding: 10px;
        float: left;
        text-align: left;
    }

    #contact-details {
        text-align: center;
        padding: 50px 20px;
    }

    .grid_social__container {
        transition: 0.3s;
        width: 33.3%;
        padding: 10px;
        float: left;
      }

      #grid__none {
          display: none;
      }

      footer {
        height: auto;
        background-color: #2d3436;
        padding: 50px 30px;
        text-align: center;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
